*{
    margin:0% ;
    padding: 0%;
    color: black;
   background-color: gray;
}

body{
  
    background-color: white;
    margin:20px 70px;
    padding: 20px 25px;
    border: 2px solid black;
  
}
header{
  
    background-color: turquoise;
    margin: 2px;
    border: 2px solid black;
}

header .iconos-superiores{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    
}
header .iconos-superiores a{
    margin: 50px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}


header .logo-pagina{
    background-color: rgb(94, 76, 94);
    text-align: center;
    max-width: 100%;
    min-width: 30%;
 
}

header .logo-pagina .logo{
    width: 1800px;
    max-width: 100%;
    min-width: 30%;

}

/*
desde aca. hasta arriba, es todo el header
*/




main{
    justify-content: center;
    text-align: left;
    display: inline-block;
    width:auto;
    padding: 90px;


}


.section-principal{
    display: grid;
    grid-template-columns: 3fr 3fr;
    columns: 2;
    justify-content: right;

}

.section-principal .h1h3p{
    display: flex;
    grid-template-rows: 2 ;
    text-align: left;
}

.section-article{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: 30px;
    

}



.articulos{
    background-color: blue;
    padding: 10px;
    margin: 15px;
}


img{
    width:300px;
    height: 300px;
    max-width: 60%;
    min-width: none;
    
    
}









